# Système d'exploitation
.DS_Store
Thumbs.db
desktop.ini

# Éditeurs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Variables d'environnement (si tu appelles une API un jour)
.env
.env.local

# Claude Code
.claude/
CLAUDE.local.md


# Godot Engine

*.import
*.exe
*.pck
*.apk
export/
